*.o
*.json
*.txt
*.a
*.docx
sifs_mkvolume
sifs_dirinfo
write_test.c
write_test
okay
okayvolume
sifs_mkdir
sifs_rmdir
sample volumes
Visual Studio CITS2002 Project 2
sifs-files\.vs\slnx.sqlite
tocopy
sifs_fileinfo
sifs_writefile
read
sifs-files/sifs_readfile
sifs-files/sifs_rmfile
sifs-files/sifs_writefile
sifs-files/copy.h
sifs-files/testing
